h1 {
	
	font-size: 1.5em;
}

.image-container{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 500px;
}

.image-container img {
	max-height: 500px;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
}