body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #43C6AC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Sunflower', sans-serif;
}
